@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

:root {
	--light-yellow: #fff9c9;
	--dark-yellow: #fdf29a;
	--light-orange: #ffd497;
	--dark-orange: #fba58b;
	--red: #fb918f;
}

body {
	font-family: 'Open Sans', sans-serif;
}
