@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
	--light-yellow: #fff9c9;
	--dark-yellow: #fdf29a;
	--light-orange: #ffd497;
	--dark-orange: #fba58b;
	--red: #fb918f;
}

body {
	font-family: 'DM Sans', Helvetica, sans-serif;
}

.active-day-button {
	@apply text-black font-semibold cursor-default border-solid border-2 border-black;
}

@media screen and (max-width: 530px) {
	.day-table {
		padding-bottom: 10px;
	}

	.day-table::-webkit-scrollbar {
		-webkit-appearance: none;
		height: 4px;
	}

	.day-table::-webkit-scrollbar-thumb {
		@apply bg-purple-400 dark:bg-purple-800;
		border-radius: 4px;
	}
}
